% my (%h) = @_;
% use Bailador;
<%= template("incl/header.html", %h); %>


<div class="title-head">
    <h1>Bailador</h1>
    <h2>Web Application Development in Perl 6</h2>

    <a class="waves-effect waves-light btn-large indigo" href="https://github.com/Bailador/Bailador#installation"><i class="material-icons right">arrow_forward</i>Get started with Bailador</a>
</div>

<!-- <div id="title">

<p>
Bailador is a light-weight, route-based, next-generation, fully buzzword compatible framework for web application development.

The goals of Bailador include:
<ul>
  <li>Provide an easy way to develop Microservices that only communicate with APIs</li>
  <li>Easily get started to build a content-heavy web site that can progress to a more dynamic application.</li>
  <li>Batteries included: We would like to let our users focus on their problems and not spend time picking the "right JSON parser".</li>
  <li>Flexibility: On the other hand if they really need their own JSON parser we would like to make sure they can use it.</li>
  <li>Accessibility: We would like to make it easy to create accessible web applications. We know. We have a long way to go.</li>
</ul>

</div>
-->
<div class="community">
    <div class="col s12 m6 right">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">Community</span>
          <p>The Bailador users and developers can be found on the Perl 6 Bailador Slack channel.</p>
        </div>
        <div class="card-action">
          <a href="slack">Join us on Slack</a>
          <a href="https://github.com/Bailador/">Join us on GitHub</a>
        </div>
      </div>
    </div>
</div>

<div class="examples">
    <div class="col s12 m6 right">
      <div class="card indigo">
        <div class="card-content white-text">
          <span class="card-title">Application Examples</span>
          <p>perl 6 Maven + this code used to serve http://testers.p6c.org/ but currently not in use</p>
        </div>
        <div class="card-action">
          <a href="#">All the Examples</a>
          <a href="#">Add your application</a>
        </div>
      </div>
    </div>
</div>

<div id="slack" class="modal">
    <div class="modal-content">
      <h4>Join us on Slack</h4>
      <p>Send an e-mail to Gabor Szabo <szabgab@gmail.com> and ask him to send you an invitation.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>


<div id="books">

    <h2>Books</h2>
    The <a href="http://leanpub.com/bailador/">Bailador book</a> by Gabor Szabo is planned to be finished by December 2017, but you can already purchase the current edition and get free updates.
    <br>
    There is a list of <a href="https://perl6book.com/">recommended books about Perl 6</a>.

</div>

</div>

<%= template("incl/footer.html", %h); %>
