% my (%h) = @_;
<%= Template::Mojo.new(slurp "views/incl/header.html").render(%h); %>


<div id="title">

    <img alt="Bailador Logo" src="img/camelia-logo.png">
    <h1>Bailador</h1>
    <h2>Web Application Development in Perl 6</h2>

</div>

<ul>
  <li><a href="https://github.com/Bailador/Bailador">Source of Bailador</a></li>
  <li><a href="https://github.com/Bailador/bailador.net">Source of Bailador website</a></li>
</ul>

<div id="code">
    <h2>Sample</h2>
    <pre><code>
use Bailador;

get '/' => sub {
    "hello world"
}

baile;
    </code></pre>
</div>

<div id="demo-applications">

    <h2>Demo Applications</h2>

    <ul>
        <li><a href="http://todo.bailador.net/">TODO</a> <a href="https://github.com/szabgab/Bailador-TODO">Source</a></li>
    </ul>

</div>


<div id="applications">

    <h2>Applications examples</h2>

    <ul>
        <li><a href="http://perl6maven.com/">Perl 6 Maven</a> <a href="https://github.com/szabgab/Perl6-Maven">Source</a></li>
        <li><a href="https://github.com/perl6/cpandatesters.perl6.org/">this code</a> used to serve http://testers.p6c.org/ but currently not in use</a></li>
    </ul>

</div>

<div id="community">

    <h2>Community</h2>
    The Bailador users and developers can be found on the <a href="http://perl6-bailador.slack.com/">Perl 6 Bailador</a> Slack channel. Till we find a better way to have you join us, you'll need to send an e-mail to Gabor Szabo &lt;szabgab@gmail.com&gt; and ask him to send you an invitation.
</div>


<div id="books">

    <h2>Books</h2>
    There is an ongoing <a href="http://perl6maven.com/book">crowdfunding campaign</a> for the <a href="http://leanpub.com/bailador/">Bailador book</a> by Gabor Szabo.

</div>

</div>

<%= Template::Mojo.new(slurp "views/incl/footer.html").render(%h); %>
