% my (%h) = @_;
% use Bailador;
<%= template("incl/header.html", %h); %>

<div id="news">
  <div class="news-item">
     <b>2017.07.15</b> Version 0.0.8 was released to CPAN. See <a href="http://blogs.perl.org/users/martin_barth/2017/07/bailador-is-still-at-its-beginning.html">Bailador is still at its beginning..</a> by Martin Barth.
  </div>

  <div class="news-item">
     <b>2017.06.13</b> Version 0.0.4 was released to CPAN. This is the first version of Bailador that can be installed from CPAN.
  </div>
</div>


<%= template("incl/footer.html", %h); %>

