.title-head {
    h1 {
        font-size: 50px;
    }
    h2 {
    font-size: 32px;
    }
    text-align: center;

    background-image: url('../img/bailador-blue-256.png'), url('../img/camelia-logo.png');
    background-repeat: no-repeat;
    background-position: top left, top right;

    height: 250px;
}
