footer {
    position: absolute;
    background-color: $base_color;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
}

#github-link {
    margin-top: 6px;
    text-align: center;

    img {
        width: 40px;
    }
}
