header {
    position: fixed;
    background-color: $base_color;
    font-family: Calibri;
    left: 0;
    top: 0;
    width: 100%;
    height: $header_height;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}

#links {
    float: right;
    display: block;
    list-style: none;
    img {
        width: 25px;
    }
}
