#applications {
    margin-top: 10px;
    float: right;
    width: $column_width;
    border: solid;
    border-color: $base_color;

    h2 {
        color: $base_color;
        text-align: center;
    }
}
